* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #264653;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.logo {
    color: white;
    font-family: sans-serif;
}